.App {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 100vh;
  grid-template-areas:
    "side recc recc";
}

.sidebar {

  grid-area: side;
  background-color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  
  /* margin: 0 1% 0 0; */
  /* padding: 1%; */
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.recommend {
  grid-area: recc;
  position: relative;
  margin: 0;
}

@media (max-width: 768px)  {
  .App{
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "recc";

  }
  .sidebar{
    display: none;
  }
  
}