.App {
  display: grid;
  grid-template-columns: 5% auto 35%;
  grid-template-rows: 87vh 13vh;

  grid-template-areas:
    "side recc queue"
    "side player player";
}

/* .App h1 {
  background-color: rgba(42, 42, 42, 0.895);
  color: rgb(255, 255, 255);
  padding: 1%;
  width: fit-content;
  border-radius: 5px;
  margin: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
  
.sidebar {

  grid-area: side;

  background-color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  
  border-radius: 0px 10px 10px 0px;
  margin: 0 1% 0 0;
  padding: 1%;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.recommend {
  grid-area: recc;

  margin: 0;
  /* background-color: aqua; */
}

.queue {
  grid-area: queue;
  margin: 0;
  /* background-color: blue; */
}

.player {

  grid-area: player;
  display: flex;
  justify-content: space-between;
  /* margin: 1%; */
  padding: 1%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(208, 208, 208);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.player button {
  width: 90px;
  color: rgb(2, 2, 2);
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}